@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --navbar-height: 150px;
  --topic-margin-bottom: 70px;
  /* Good gray combo */
  /* --color-primary: #dfe4ea;
  --color-secondary: #ced6e0; */
  /* --color-primary: #74b9ff;
  --color-secondary:#eaeef0; */
  --color-primary: #a29bfe;
  --color-secondary: #fcfcfc;
  --main-div-border-radius: 10px;
}

body {
  height: 100%;
  padding: 10%;
  padding-top: 0px;
  padding-bottom: 40px;
  margin: 0px;
  background-color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 500;
}

#title,
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

#mobile-nav-right {
  position: fixed;
  right: -100%;
  height: 100%;
  background-color: var(--color-secondary);
  transition: 0.5s;
  z-index: 1000;
}

#close-button-nav {
  margin: 8px;
  height: 40px;
  width: 40px;
  color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-links {
  width: 200px;
  display: flex;
  padding-left: 50px;
  align-items: center;
  height: 60px;
  transition: 0.5s;
  /* margin:30px; */
}
.mobile-links a {
  text-decoration: none;
  color: black;
}
.mobile-links:hover {
  background-color: var(--color-primary);
}

#left-navbar,
#left-navbar * {
  float: left;
}

#links,
#links * {
  float: right;
}

#left-navbar > h1 {
  margin: 0px;
  margin-left: 20px;
  padding-top: 58px;
}

#open-sidebar {
  display: none;
}

#links > a {
  padding-top: 70px;
  margin-left: 60px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#links > a:hover {
  height: auto;
  border-bottom: 2px solid black;
}

#navbar,
#navbar * {
  height: var(--navbar-height);
}

#navbar img {
  height: 80px;
}

#logo-wrapper {
  display: flex;
  align-items: center;
}

#browse-clubs {
  /* border: 2px solid black; */
  height: auto;
  width: 65%;
  display: inline-block;
  background-color: var(--color-secondary);
  color: block;
  border-radius: var(--main-div-border-radius);
}

#search-bar {
  position: relative;
  border: 1px solid black;
  margin-top: 5%;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
}

#search-input {
  width: 100%;
  padding-left: 10px;
  background: none;
  border: none;
  height: 100%;
  font-size: x-large;
}

#search-input::placeholder {
  font-family: "PT Sans", sans-serif;
}

#search-clear {
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position */
  position: absolute;
  right: 0;
  /* background & border */
  border-radius: 50%;
  transition: background-color 0.3s;
  /* display */
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

#search-clear::before {
  width: 20px;
  height: 20px;
}

#search-clear:hover {
  background-color: rgb(172, 175, 176, 0.3);
}

.search {
  font-size: 40px;
}

#club-suggestions {
  display: none;
  border: 2px solid black;
  border-radius: 3px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 45px;
  width: 98%;
  max-height: 400px;
  overflow: scroll;
}

.club-suggestion {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 100%;
  min-height: 40px;
  cursor: pointer;
}

.club-suggestion:hover {
  background-color: #edeef0;
}

.club-suggestion:focus {
  background-color: #edeef0;
  outline: none;
}

.club-suggestion-title {
  margin: 0px;
}

#categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
}

.topic {
  /* background-color: white; */
  border-radius: 50%;
  height: 8vw;
  width: 8vw;
  z-index: 0;
  margin: 1.4vw;
  margin-bottom: var(--topic-margin-bottom);
  border: 5px solid black;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.topic h3 {
  position: absolute;
  top: 100%;
  text-align: center;
  width: 100%;
  font-size: 10pt;
  font-weight: 400;
}

#category-header {
  margin-left: 5%;
  margin-top: 5%;
}

#see-more-categories {
  display: none;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#right-container {
  float: right;
  /* display: inline-block; */
  /* border: 2px solid black; */
  width: 30%;
}

#club-feed {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: var(--main-div-border-radius);
  margin-bottom: 25px;
}

#mailing-list {
  display: inline-block;
  width: 90%;
  background-color: var(--color-secondary);
  border-radius: var(--main-div-border-radius);
  padding: 5%;
  margin-bottom: 30px;
  cursor: pointer;
}

#mailing-list i {
  display: inline-block;
  width: 25%;
  text-align: center;
  font-size: 50px;
  vertical-align: top;
  position: relative;
  top: 5px;
}

#mailing-list p {
  display: inline-block;
  width: 73%;
  margin: 0px;
}

#club-feed h1 {
  font-size: 19pt;
  padding-left: 10px;
  padding-right: 10px;
}

#left {
  display: none;
}

.topic[data-tag-code="codingandrobotics"] {
  background-image: url("/images/codingAndRobtics.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="businessandfinance"] {
  background-image: url("/images/Business.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="community"] {
  background-image: url("/images/community.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="scienceandmath"] {
  background-image: url("/images/science.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="arts"] {
  background-image: url("/images/arts.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="entertainment"] {
  background-image: url("/images/entertainment.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="policy"] {
  background-image: url("/images/policy.gif");
  background-position: center;
  background-size: cover;
}
.topic[data-tag-code="athletics"] {
  background-image: url("/images/athletics.gif");
  background-position: center;
  background-size: cover;
}
.topic:hover {
  filter: brightness(70%);
}
.announcement {
  position: relative;
  border-top: 1px solid black;
}

.date {
  position: absolute;
  bottom: 5px;
  transform: none;
  font-weight: 400;
}

.announcement i {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: xx-large;
  transition: 0.5s;
  cursor: pointer;
}

/* .announcement i:active{
    transform: rotate(-180deg);
} */

#announcements {
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.announcement-bottom-bar {
  position: relative;
  min-height: 50px;
}

.main-text {
  /* position: absolute; */
  /* left:5px; */
  text-align: left;
  min-height: 30px;
}

#view-all-clubs {
  text-align: center;
  cursor: pointer;
}

.club-div {
  /* Flex */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* Box */
  width: 90%;
  margin-left: 5%;
  border: 3px solid black;
  border-radius: 10px;
  margin-bottom: 20px;
  /* Transition */
}

.club-div-display {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.club-title {
  font-size: 18pt;
  flex-grow: 1;
  margin-left: 10px;
}

.club-dropdown {
  display: flex;
  flex-direction: column;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  max-height: 0px;
}

.club-dropdown-showing {
  max-height: 5000px;
  transition: max-height 0.5s ease-in;
}

.club-dropdown-icon {
  font-size: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.club-dropdown-item {
  margin-right: 10px;
  margin-left: 10px;
  word-wrap: break-word;
}

.club-other-links li {
  margin-bottom: 12px;
  list-style-type: none;
}
.club-dropdown-item a {
  cursor: pointer;
  padding-bottom: 2xpx;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
}

.invisible-club {
  display: none !important;
}

#sort-area {
  width: 90%;
  margin: 30px;
  margin-left: 5%;
}

#sort-area .sort-field {
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
}

.sort-field {
  border: 2px solid black;
  font-size: 20px;
  margin-top: 10px;
}

.sort-field i {
  cursor: pointer;
}

#back-screen {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  animation-duration: 0s;
}

#big-answer {
  z-index: 10;
  width: 60%;
  margin-top: 5%;
  position: absolute;
  height: fit-content;
  transform: translateY(-200%);
  height: -moz-fit-content;
  background-color: white;
  border-radius: 7px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding-left: 20px;
  padding-bottom: 15px;
  overflow-y: visible;
  max-height: 75vh;
  scrollbar-width: none;
}

#mailing-list-mobile {
  display: none;
}

#expand-mailing-list {
  z-index: 10;
  width: 60%;
  margin-top: 5%;
  position: absolute;
  height: fit-content;
  height: -moz-fit-content;
  background-color: white;
  border-radius: 7px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding-left: 20px;
  padding-bottom: 15px;
  overflow-y: visible;
  max-height: 75vh;
  scrollbar-width: none;
  display: none;
}

#close-button-mailing-list {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  cursor: pointer;
}

#expand-mailing-list p {
  width: 95%;
  font-size: 25px;
}

#expand-mailing-list input {
  width: 70%;
  margin-right: 10px;
}

#expand-mailing-list button {
  width: 20%;
  background-color: lightblue;
}

#expand-mailing-list input,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 22px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  padding: 5px;
  margin-bottom: 10px;
}

#modal-content-wrapper {
  overflow-y: scroll;
  max-height: inherit;
}

.center {
  text-align: center;
}

#big-answer h1,
#date {
  display: inline-block;
}

#big-answer h1 {
  margin-bottom: 0px;
}

#date {
  position: relative;
  bottom: 3px;
  font-weight: 500;
}

#date {
  font-size: 22px;
}

#top-container {
  text-align: left;
  margin-left: 20px;
}

#big-answer a i {
  font-size: 25px;
  position: relative;
  top: 2px;
}

#big-answer a {
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  display: inline-block;
  word-break: break-all;
}

#description {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 18px;
}

#close-button {
  position: absolute;
  font-size: 22px;
  right: -18px;
  top: -18px;
  width: 30px;
  height: 30px;
  /* border-top-right-radius: 7px; */
  color: rgb(255, 255, 255);
  opacity: 0.8;
  border-radius: 50%;
  background-color: black;
  /* background-color: red; */
  /* border-bottom-left-radius: 7px; */
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#mobile-announcements {
  display: none;
}

.slideout-menu {
  position: fixed;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  width: 20%;
  float: right;
  will-change: transform;
  background-color: black;
  /* A background-color is required */
  min-height: 100vh;
  display: none;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#footer h3 {
  display: inline-block;
}
@keyframes backScreen {
  from {
    z-index: 20;
  }
  to {
    z-index: 20;
  }
}

@keyframes movedown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: none;
  }
}

.person-link {
  text-decoration: none;
  color: black;
}

.person-link:hover {
  text-decoration: underline;
}
