:root {
    --navbar-height: 150px;
    --topic-margin-bottom: 70px;
}

body {
    padding: 10%;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    background-color: white;
}

#left-navbar, #left-navbar * {
    float: left;
}

#links, #links * {
    float: right;
}

#left-navbar>h1 {
    margin: 0px;
    margin-left: 20px;
    padding-top: 58px;
}

#open-sidebar {
    display: none;
}

#links>a {
    padding-top: 70px;
    margin-left: 60px;
    cursor: pointer;
}

#links>a:hover {
    height: auto;
    border-bottom: 2px solid black;
}

#navbar, #navbar * {
    height: var(--navbar-height);
}

#browse-clubs {
    border: 2px solid black;
    height: auto;
    width: 65%;
    display: inline-block;
}

#search-bar {
    position: relative;
    border: 1px solid black;
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}

.search {
    font-size: 40px;
}

#club-suggestions {
    display: none;
    border: 2px solid black;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 40px;
    width: 98%;
}

.club-suggestion {
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    min-height: 40px;
    cursor: pointer;
}

.club-suggestion:hover {
    background-color: #edeef0;
}

.club-suggestion-title {
    margin: 0px;
}

#search-input {
    width: 98%;
    background: none;
    border: none;
    height: 100%;
    font-size: x-large;
}

#categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
}

.topic {
    /* background-color: white; */
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    margin: 1.4vw;
    margin-bottom: var(--topic-margin-bottom);
    border: 5px solid black;
    position: relative;
}

.topic h3 {
    position: absolute;
    top: 100%;
    text-align: center;
    width: 100%;
    font-size: 12pt;
}

#category-header {
    margin-left: 5%;
    margin-top: 5%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#club-feed {
    float: right;
    /* display: inline-block; */
    border: 2px solid black;
    width: 30%;
    height: 80%;
    text-align: center;
}
#left{
    display: none;
}

#club-feed h1{
    text-decoration: underline;
}

.announcement {
    position: relative;
    border-top: 1px solid black;
}
#date{
    position: absolute;
    bottom: 5px;
    left: 5px;
    transform: none;
}

.announcement i {
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-size: xx-large;
    
    transition: 0.5s;
}
/* .announcement i:active{
    transform: rotate(-180deg);
} */

#announcements {
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.announcement-bottom-bar {
    position: relative;
    min-height: 50px;
}





.main-text{
    /* position: absolute; */
    /* left:5px; */
    text-align: left;
    min-height: 30px;
   
}

#view-all-clubs {
    text-align: center;
}

.club-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
    border: 3px solid purple;
    border-radius: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.club-div-display {
    display: flex;
    align-items: center;
    width: 100%;
}

.club-title {
    font-size: 18pt;
    flex-grow: 1;
    margin-left: 10px;
}

.club-dropdown {
    display: none;
    flex-direction: column;
}

.club-dropdown-icon {
    font-size: 40px;
    margin-right: 10px;
}

.club-dropdown-item {
    margin-right: 10px;
    margin-left: 10px;
}

.invisible-club {
    display: none !important;
}

#sort-area {
    width: 90%;
    margin: 30px;
    margin-left: 5%;
}

#sort-area .sort-field {
    background-color: lightgrey;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
}

#back-screen{
    
    
   
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    width:100%;
    height:100%;
    
   display: flex;
   justify-content: center;
  
   opacity: 0;
   animation-duration: 0s;
  
}

#big-answer{
    z-index: 100000000;
    width: 60%;
    margin-top: 5%;
    position: absolute;
   
    height: fit-content;
    transform: translateY(-200%);
    height: -moz-fit-content;
    background-color: white;
   border-radius: 7px;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   padding-left: 20px;
   padding-bottom: 50px;
}
.center{
    text-align: center;
}

#close-button{
    position: absolute;
    font-size: 22px;
    left:0;
    top:0;
    border-top-left-radius: 7px;
    color:white;
    opacity: 0.8;
    background-color: red;
    border-bottom-right-radius: 7px;
    animation-fill-mode: forwards;

}

#mobile-announcements {
    display: none;
}
.slideout-menu {
    position: fixed;
   
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
  }
  

  
  .slideout-menu-right {
    right: 0;
  }
  
  .slideout-panel {
    position: relative;
    z-index: 1;
    width: 20%;
    float: right;
    will-change: transform;
    background-color: black; /* A background-color is required */
    min-height: 100vh;
    display: none;
  }
  
  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }
  
  .slideout-open .slideout-menu {
    display: block;
  }

@keyframes backScreen{
    from{
       z-index: initial;
       
    }
 
    to{
        z-index: 1;
        
    }
    
}


@keyframes movedown{
    0%{
        transform: translateY(-200%);
     }
    100%{
         transform: none;
    }
}
