@media (max-width: 940px) {
    :root {
        --navbar-height: 50px;
    }
    body {
        padding: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    #main-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    #club-feed {
        width: 100%;
        margin-bottom: 5px;
    }
    .announcement {
        border-radius: 15px;
        border: 2px solid black;
        max-width: 200px;
        max-height: 100px;
    }
    .main-text{
        position: absolute;
        left:5px;
        text-align: left;
       
    }
    .announcement i {
        display: none;
    }
    .announcement p {
        display: none;
    }
    #browse-clubs {
        width: 100%;
    }
    #left-navbar>h1 {
        margin: 0px;
        margin-left: 20px;
        padding-top: 17px;
        font-size: 13pt;
    }
    #links>a {
        display: none;
    }
    #open-sidebar {
        display: inline-block;
        padding-top: 12px;
        font-size: 17pt;
        margin-right: 10px;
    }
    
    #browse-clubs{
        width: 95%;
    }

    .topic{
  height: 110px;
  width: 110px;
  margin: 10px;
  margin-bottom: var(--topic-margin-bottom);
}
}

@media (max-width: 1200px) {
    body {
        padding: .8%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

@media (max-width: 550px) {
    .topic{
  height: 100px;
  width: 100px;
  margin: 17.5px;
  margin-bottom: var(--topic-margin-bottom);
}

#categories {
    width: 97%;
    margin-left: 1.5%;
}
}